body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}
header, Nav, section{
    background: #ebebeb;
    width: 960px;
}
header{
    text-align: center;
    padding: 20px 0;
    width: 100%;
    color: #777;
}
/* The navbar container */
nav ul{
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ebebeb;
    color: #777
}
nav ul li{
    display: inline-block;
    padding: 20px;
}
/* Navbar links */
nav ul li:hover{
    background-color: #00ffff;
}

/* Links - change color on hover */
a{
    text-decoration: none;
    color: inherit;
}
aside {
    width: 495px;
    right: 20px;
    border: 3px solid #777;
    padding: 10px;
    float: right;
    background: #ebebeb
}
article {
    color: #ebebeb;
    background: #777;
    width: 495px;
}
h1, p {
    color: #777;
    background: #ebebeb
}
footer {
    background: #ebebeb
    text-align: center;
    padding: 10px;
    width: 960px;
}
.tab-content {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 10px
}
.navbar {
    background-color: aqua;
    color: white;
}
.navbar {
    margin-bottom: 0;
}